*.pyc
*.pyo
*.egg-info
*.swp
*.orig
~*
*~
.coverage*
coverage*.xml
.noseids
.tox
.test_sphinxext
nosetests*.xml

build
dist

doc/_build
d2to1-*.egg

WSME.egg-info/

# Files created by pbr
AUTHORS
ChangeLog
pbr*.egg
