<soapenv:Envelope
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:py="http://genshi.edgewall.org/"
    py:attrs="{'xmlns' : typenamespace}">
    <soapenv:Body>
        <soapenv:Fault>
            <soapenv:faultcode>${faultcode}</soapenv:faultcode>
            <soapenv:faultstring>${faultstring}</soapenv:faultstring>
            <soapenv:detail py:if="debuginfo is not None">${debuginfo}</soapenv:detail>
        </soapenv:Fault>
    </soapenv:Body>
</soapenv:Envelope>
